* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #ddd;
    border-radius: 0 5px 5px 0;
}

.filters {
    flex: 1;
    overflow-y: auto;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#toggle-origine {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.checkbox-group {
    display: none;
    flex-direction: column;
}

.checkbox-group label {
    margin-bottom: 5px;
    font-size: 14px;
}

.checkbox-group input {
    margin-right: 10px;
}

.filter-section select {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; 
}

.filter-section option {
    font-size: 14px; 
}

.search-recipe {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recipes {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.recipes h1 {
    text-align: center;
    margin-bottom: 25px;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.recipe:hover {
    background-color: #f0f0f0;
}

.recipe-name {
    font-weight: bold;
}

.recipe-details {
    display: flex;
    gap: 20px;
}

.recipe-image {
    height: 60px;
    object-fit: cover;
    margin-left: auto;
    margin-right: 0;
    border-radius: 5px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}


.error-message {
    text-align: center;
    background-color: #f2f2f2;
    color: #757575;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    display: none; 
}
