* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: #000;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    position: relative;
}

.recipe-details {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.recipe-details h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.recipe-image {
    margin-bottom: 20px;
    text-align: center; 
}

.recipe-image img {
    width: 100%;
    max-width: 800px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

.add-to-shopping-list {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    margin-right: 100px;
}

.recipe-description {
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.recipe-instructions {
    margin-bottom: 20px;
}

.recipe-instructions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ingredients {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.ingredients ul {
    list-style-type: disc; 
    padding-left: 20px;
    margin: 0;
}

.ingredients li {
    margin-bottom: 10px;
    font-size: 18px;
    position: relative; 
    padding-right: 30px; 
}

.ingredients .checkmark {
    position: absolute; 
    top: 0;
    font-size: 20px;
    color: green;
    margin-left: 20%;
}

.possessed .checkmark {
    display: inline;
}

.possessed {
    color: black; 
}

.to-buy {
    color: black; 
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.recipe-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.share-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.share-button:hover {
    background-color: #0056b3;
}

/*Ingredienti sostitutivi*/
.substitute-button{
    display: block;
    margin-left: 0;
    padding: 8px 13px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    margin-right: 0px;
}

.no-substitute-text{
    color: blue; 
    font-style: italic; 
    font-size: small;
    font-weight: bold;
    margin-right: 4%;
    margin-left: 1.7%
}

/*Stile vini consigliati*/
.vini h2{
    margin-bottom: 20px;
}

.wine-description {
    display: block;
    margin-left: auto;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    margin-right: 10px;
}

.vini{
    width: 100%;
    max-width: 800px;
    margin: 2% auto;
}
.wines-list{
    list-style-type: circle; /* Ripristina i punti (bullet points) */
    font-family: Arial, Helvetica, sans-serif;
}
.wines-list li{
    margin-top: 10px;
    margin-left: 10px;
}

.favorite-star {
    cursor: pointer;
    font-size: 32px;
    color: #ffcc00;
    transition: color 0.3s;
}

.favorite-star .star.inactive {
    color: #cccccc; 
    content: '\2606';
}

.favorite-star .star.active {
    color: #ffcc00; 
    content: '\2605'; 
}

.commenti {
    width: 100%;
    max-width: 800px;
    margin: 5% auto;
    border: none;
}

.commenti h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.comment-list {
    margin-bottom: 20px;
    border: none;
}

.comment {
    display: grid; 
    grid-template-columns: 1fr auto; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-width: 800px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.comment-sx{
    padding-top: 1%;
    width: 600px;
}

.comment-dx {
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%; 
    padding-bottom: 10%; 
}

.comment p {
    width: 600px;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    padding-bottom: 2%;
}

.comment-form {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border: none;
}

.comment-form h3{
    margin-bottom: 2%;
}

.comment-form label {
    display: block;
    margin-bottom: 5px;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.comment-form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #45a049;
}

.steps {
    margin-top: 20px;
}

.steps ul {
    list-style-type: none;
    padding: 0;
}

.steps li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #a2a1a1;
    border-radius: 5px;
}

.steps li p {
    margin: 0;
    font-style: italic;
}

.steps strong {
    color: #333;
    font-weight: bold;
    margin-right: 5px;
}

.no-steps {
    background-color: #ffe4e1;
    border-left: 5px solid #ff6347;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-steps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-steps-title {
    color: #d9534f;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.no-steps-content p {
    color: #333;
    font-size: 16px;
    margin: 5px 0;
}

.no-steps-content p:nth-child(2) {
    margin-top: 10px;
}

/* Stile rating commenti */
.rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
    direction: rtl; 
    margin-bottom: 6px;
}

.rating-container p {
    font-size: large;
    margin-right: 10px; 
    font-weight: bolder; 
}

.rating input {
    display: none; 
}

.rating label {
    font-size: 24px; 
    cursor: pointer; 
    color: lightgray; 
    margin-left: 5px; 
    transition: color 0.2s;
}


.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.rating input[type="radio"]:checked ~ label {
  color: gold;
}

.comment-actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/*Pulsanti moderatori*/

.delete-button {
    background-color: white;
    color: #f3b734;
    border: 1px solid gray;
    border-radius: 0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    width: 160px;
}

.delete-button:hover {
    background-color: #f3b734;
    color: white;
}

.block-button {
    background-color: white;
    color: #eb2626;
    border-radius: 0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    width: 160px;
}

.block-button:hover {
    background-color: #eb2626;
    color: white;
}

.notify-button {
    background-color: white;
    color: #1468e6;
    border-radius: 0 0 15px 15px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    width: 160px;
    padding-bottom: 10px;
}

.notify-button:hover {
    background-color: #1468e6;
    color: white;
}

.empty-button {
    background-color: white;
    color: #a4badb;
    border-radius: 0 0 15px 15px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    width: 160px;
    padding-bottom: 10px;
}

.trash-button {
    background: none; 
    border: none;
    padding: 0; 
    margin-top: 25px;
    cursor: pointer; 
    margin-left: 54%;
}

.trash-button:hover {
    opacity: 0.6;
}

.trash-button img {
    width: 30px;  
    height: auto; 
}

.menu {
    position: relative;
    display: inline-block;
    align-self: flex-end;
}

.bottone-tendina {
    background-color: white;
    color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-radius: 0;
    padding: 5px 10px;
    font-size: 14px;
    width: 160px;
    cursor: pointer; 
}

.bottone-tendina:hover {
    color: rgb(44, 44, 44);
    border-bottom: 1px solid rgb(104, 104, 104);
}

.azioni {
    display: none; 
    width: 160px;
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    transition: ease;
}

.menu:hover .azioni {
    display: block; 
}


/* Stile per il container del timer */
.timer-container {
    position: fixed;
    text-align: center;
    /* margin-top: 20px; */
    bottom: 45%;
    right: 7%;
}

#timer-screen {
    font-size: 2em;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.timer-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

#flash-messages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash-message.riuscito {
    color: rgb(7, 111, 172);
    border-color: rgb(7, 111, 172);
    background-color: #e6ffe6;
}

.flash-message.error {
    color: rgb(173, 0, 0);
    border-color: rgb(173, 0, 0);
    background-color: #ffe6e6;
}

.flash-message.hide {
    display: none;
}