body {
    font-family: Arial, sans-serif;
    background-color:#f3eded;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    color:#4caa43;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
}

#requests-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 40px;
}

#requests-container p{
    margin-top: 10px;
    width: inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#requests-container p strong{
    color: #4caa43;
}

.request-item {
    margin-bottom: 10px;
}

input[type="email"] 
{
    height: 32px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(87, 87, 87);
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 8px;
}

button {
    background-color: #4caa43;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
}

button:hover {
    background-color: #970d14;
}

label{
    font-size: 18px;
}

.flash-messages {
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-errore {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.alert-riuscito {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}
