{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TastyClick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">
        <main>
            <div class="about-us">
                <h1>Welcome to TastyClick</h1>    
                <p>
                    What is TastyClick? TastyClick is your complete guide in the kitchen. Enter the ingredients you have available and immediately discover what recipes you can make.
                    If you don't know what to cook, let TastyClick suggest a recipe: you can filter the results by type, origin, preparation time, and calories.
                    Furthermore, our system takes into account your allergies and intolerances to offer you safe and personalized recipes.
                </p>

                <h2>How does it work?</h2>
                <ol>
                    <li><strong>Enter the ingredients:</strong> Enter the ingredients you have in the fridge and discover all the recipes you can prepare with what you have.</li>
                    <li><strong>Receive suggested recipes:</strong> Explore the suggested recipes and filter according to your preferences.</li>
                    <li><strong>Save ingredients to your Shopping List:</strong> Missing something? Save the ingredients you need to your Shopping List to always have them at hand.</li>
                    <li><strong>Find ingredient substitutes:</strong> If an ingredient is not available, check immediately if there are suggested substitutes.</li>
                    <li><strong>Discover the perfect wine:</strong> Every recipe can be paired with a recommended wine to enhance the dish's flavors.</li>
                    <li><strong>Create your profile:</strong> Register to save your favorite recipes, manage your Shopping List, keep track of your allergies, and interact with the community.</li>
                </ol>

                <h2>User Roles:</h2>
                <ul>
                    <li><strong>User:</strong> Explore recipes, save your ingredients to the Shopping List, find substitutes, and discover paired wines.</li>
                    <li><strong>Moderator:</strong> Report or remove inappropriate comments and block problematic profiles.</li>
                    <li><strong>Admin:</strong> Manage moderators and users, with full access to all site features.</li>
                </ul>

                <h2>Contact Us</h2>
                <p>Do you have questions? Want to know more? Contact us!</p>
                <ul>
                    <li>Email: assispoonacularproject10@gmail.com</li>
                    <li>Address: Viale Scalo San Lorenzo, 15, 00150 Rome, Italy</li>
                </ul>
                <strong>Register Now!</strong>
                <p>Join our community and discover a new way of cooking with TastyClick.</p>
            </div>
        </main>
    </div>
</body>
</html>
{% endblock %}