{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Tuo Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css')}}">
    <script src="../static/account.js"></script>

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="account-box">
                <h2>IL TUO ACCOUNT</h2>
                <div class="account-details">
                    
                    <p>Username: <span class="user-info">{{ username }}</span></p>
                    <p>Email: <span class="user-info">{{ email }}</span></p>
                    <button class="btn" id="changePasswordBtn">Cambia Password</button>

                    <div id="changePasswordModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h3>Cambia Password</h3>
                            <form id="password-form" method="POST" action="{{ url_for('update_password') }}">
                                <label for="old_password">Vecchia Password:</label>
                                <input type="password" id="old_password" name="old_password" required><br>
                                <label for="new_password">Nuova Password:</label>
                                <input type="password" id="new_password" name="new_password" required><br>
                                <label for="confirm_new_password">Conferma Password:</label>
                                <input type="password" id="confirm_new_password" name="confirm_new_password" required><br>
                                <button type="submit" id="save-password-button">Salva Password</button>
                            </form>
                        </div>
                    </div>


                    

                    <form id="birthdate-form" method="POST" action="{{ url_for('update_birthdate') }}">
                        <p>Data di nascita: 
                            <input type="date" name="birthdate" id="birthdate" class="user-info" value="{{ data_nascita }}">
                        </p>
                        <button class="btn" type="submit" id="save-birthdate-button">Aggiorna Data di Nascita</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <form id="preferences-form" method="POST" action="/update_preferences">
                        <div class="editable-info">
                            <p>Diete particolari:</p>
                            <div class="checkbox-group">
                                <label>
                                    <input type="checkbox" id="diet-vegetariana" name="diet" value="vegetariana" {% if 'vegetariana' in diete %} checked {% endif %}> Vegetariana
                                </label><br>
                                <label>
                                    <input type="checkbox" id="diet-vegana" name="diet" value="vegana" {% if 'vegana' in diete %} checked {% endif %}> Vegana
                                </label><br>
                                <label>
                                    <input type="checkbox" id="diet-senza-glutine" name="diet" value="senza-glutine" {% if 'senza-glutine' in diete %} checked {% endif %}> Senza glutine
                                </label>
                            </div>
                        </div>
                    
                        <div class="editable-info">
                            <p>Intolleranze / Allergie:</p>
                            <div class="checkbox-group">
                                <label>
                                    <input type="checkbox" id="allergy-lattosio" name="allergies" value="lattosio" {% if 'lattosio' in intolleranze %} checked {% endif %}> Lattosio
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-glutine" name="allergies" value="glutine" {% if 'glutine' in intolleranze %} checked {% endif %}> Glutine
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-frutta-secca" name="allergies" value="frutta-secca" {% if 'frutta-secca' in intolleranze %} checked {% endif %}> Frutta secca
                                </label>
                            </div>
                        </div>
                    
                        <button class="btn" type="submit" id="save-button" disabled>Salva modifiche</button>
                    </form>
                    

                </div>
                <a href="{{ url_for('logout') }}"><button class="logout-button">LOGOUT</button></a>

                <button type="button" class="delete-account-button" id="openDeleteModal">Elimina account</button>

                <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Sei sicuro di voler eliminare il tuo account? Questa azione è irreversibile.</p>
                    <form id="deleteAccountForm" action="{{ url_for('delete_account') }}" method="POST">
                        <button type="submit" class="confirm-delete">Si, elimina</button>
                        <button type="button" class="cancel-delete">Annulla</button>
                    </form>
                </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    // Script to handle birthdate editing and saving
    document.getElementById('birthdate').addEventListener('change', function() {
        document.getElementById('save-birthdate-button').disabled = false;
    });
</script>
</html>
{% endblock %}
