{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Tuo Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css')}}">
    <script src="../static/account.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="account-box">
                <h2>IL TUO ACCOUNT</h2>
                <div class="account-details">
                    
                    <p>Username: <span class="user-info">{{ username }}</span></p>
                    <p>Email: <span class="user-info">{{ email }}</span></p>
                    <button class="btn" id="changePasswordBtn">Cambia Password</button>

                    <div id="changePasswordModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h3>Cambia Password</h3>
                            <form id="password-form" method="POST" action="{{ url_for('update_password') }}">
                                <label for="old_password">Vecchia Password:</label>
                                <input type="password" id="old_password" name="old_password" required><br>
                                <label for="new_password">Nuova Password:</label>
                                <input type="password" id="new_password" name="new_password" required><br>
                                <label for="confirm_new_password">Conferma Password:</label>
                                <input type="password" id="confirm_new_password" name="confirm_new_password" required><br>
                                <button type="submit" id="save-password-button">Salva Password</button>
                            </form>
                            <a id="resetPasswordLink">Resetta password via email</a>
                        </div>
                    </div>


                    <div id="resetTokenModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form id="token-form" method="POST" action="{{ url_for('reset_password') }}">
                                <label for="token">Token:</label>
                                <input type="text" id="token" name="token" required><br>
                                <label for="new_password_token">Nuova Password:</label>
                                <input type="password" id="new_password_token" name="new_password" required><br>
                                <label for="confirm_new_password_token">Conferma Nuova Password:</label>
                                <input type="password" id="confirm_new_password_token" name="confirm_new_password" required><br>
                                <button type="submit" id="save-token-password-button">Salva Password</button>
                            </form>
                        </div>
                    </div>
                    

                    <form id="birthdate-form" method="POST" action="{{ url_for('update_birthdate') }}">
                        <p>Data di nascita: 
                            <input type="date" name="birthdate" id="birthdate" class="user-info" value="{{ data_nascita }}">
                        </p>
                        <button class="btn" type="submit" id="save-birthdate-button">Aggiorna Data di Nascita</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <form id="preferences-form" method="POST" action="/update_preferences">
                        <div class="editable-info">
                            <p>Diete particolari:</p>
                            <div class="checkbox-group">
                                <label>
                                    <input type="radio" id="diet-none" name="diet" value="" {% if not diete %} checked {% endif %}> Nessuna
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-vegetarian" name="diet" value="vegetarian" {% if 'vegetarian' in diete %} checked {% endif %}> Vegetarian
                                </label><br> 
                                <label>
                                    <input type="radio" id="diet-vegan" name="diet" value="vegan" {% if 'vegan' in diete %} checked {% endif %}> Vegan
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-pescetarian" name="diet" value="pescetarian" {% if 'pescetarian' in diete %} checked {% endif %}> Pescetarian
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-lacto-vegetarian" name="diet" value="lacto vegetarian" {% if 'lacto vegetarian' in diete %} checked {% endif %}> Lacto Vegetarian
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-ovo-vegetarian" name="diet" value="ovo vegetarian" {% if 'ovo vegetarian' in diete %} checked {% endif %}> Ovo Vegetarian
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-paleo" name="diet" value="paleo" {% if 'paleo' in diete %} checked {% endif %}> Paleo
                                </label><br>
                                <label>
                                    <input type="radio" id="diet-primal" name="diet" value="primal" {% if 'primal' in diete %} checked {% endif %}> Primal
                                </label>              
                            </div>
                        </div>
                    
                        <div class="editable-info">
                            <p>Intolleranze / Allergie:</p>
                            <div class="checkbox-group">
                                <label>
                                    <input type="checkbox" id="allergy-dairy" name="allergies" value="dairy" {% if 'dairy' in intolleranze %} checked {% endif %}> Dairy
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-egg" name="allergies" value="egg" {% if 'egg' in intolleranze %} checked {% endif %}> Egg
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-gluten" name="allergies" value="gluten" {% if 'gluten' in intolleranze %} checked {% endif %}> Gluten
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-peanut" name="allergies" value="peanut" {% if 'peanut' in intolleranze %} checked {% endif %}> Peanut
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-sesame" name="allergies" value="sesame" {% if 'sesame' in intolleranze %} checked {% endif %}> Sesame
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-seafood" name="allergies" value="seafood" {% if 'seafood' in intolleranze %} checked {% endif %}> Seafood
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-shellfish" name="allergies" value="shellfish" {% if 'shellfish' in intolleranze %} checked {% endif %}> Shellfish
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-soy" name="allergies" value="soy" {% if 'soy' in intolleranze %} checked {% endif %}> Soy
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-sulfite" name="allergies" value="sulfite" {% if 'sulfite' in intolleranze %} checked {% endif %}> Sulfite
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-tree-nut" name="allergies" value="tree nut" {% if 'tree nut' in intolleranze %} checked {% endif %}> Tree Nut
                                </label><br>
                                <label>
                                    <input type="checkbox" id="allergy-wheat" name="allergies" value="wheat" {% if 'wheat' in intolleranze %} checked {% endif %}> Wheat
                                </label>                                
                            </div>
                        </div>
                    
                        <button class="btn" type="submit" id="save-button" disabled>Salva modifiche</button>
                    </form>
                    

                </div>
                <a href="{{ url_for('logout') }}"><button class="logout-button">LOGOUT</button></a>

                <button type="button" class="delete-account-button" id="openDeleteModal">Elimina account</button>

                <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Sei sicuro di voler eliminare il tuo account? Questa azione è irreversibile.</p>
                    <form id="deleteAccountForm" action="{{ url_for('delete_account') }}" method="POST">
                        <button type="submit" class="confirm-delete">Si, elimina</button>
                        <button type="button" class="cancel-delete">Annulla</button>
                    </form>
                </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    // Script to handle birthdate editing and saving
    document.getElementById('birthdate').addEventListener('change', function() {
        document.getElementById('save-birthdate-button').disabled = false;
    });
</script>
</html>
{% endblock %}
