{% block contenttop%}

{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">
<script src="{{ url_for('static', filename='header.js') }}"></script>

<header>
    <div class="logo" id="logo"><a href="/" style="color: #5cb85c;">TastyClick</a></div>
    {% if session['username'] != Null %}    <!--dovrebbe evitare il bug di header con lista, logout, immagine ecc ma senza nome-->
    <div class="user">
        <div id="admin-tools"></div>
        <div id="sban-link-container"></div>
        <a href="/fav">Saved Recipes</a>
        <a href="/lista_spesa">Shopping List</a>
        <a href="/account">
            <div class="acc">
                <img src="../static/images/deafault_profile_img.png" alt="User Icon">
                <p>{{ session['username'] }}</p>
            </div>
        </a>
        <a href="/logout">LOGOUT</a>

    </div>
    {% else %}
    <div class="user">
        <a href="/about_us">ABOUT US</a>
        <a href="/registrazione">SIGN UP</a>
        <a href="/login">SIGN IN</a>
    </div>
    {% endif %}
</header>



{% block contentdown%}

{% endblock %}
