{% block contenttop%}

{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='header.css')}}">

<header>
    <div class="logo"><a href="/">LOGO</a></div>
    {% if session %}
    <div class="user">
        <a href="account">
        <img src="user_icon.png" alt="User Icon">
        <p>Nome</p>
        </a>
        <a href="/logout">LOGOUT</a>

    </div>
    {% else %}
    <div class="user">
        <a href="/registrazione">REGISTRATI  </a>
        <a href="/login">LOGIN</a>

    </div>
    {% endif %}
</header>



{% block contentdown%}

{% endblock %}