{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='idee_random.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">
</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="sidebar">
                <h2>Search by name</h2>
                <div class="search-bar">
                    <input id="selected-recipe" type="text" placeholder="recipes">
                </div>
                <h2>Filters</h2>
                <div class="filters">
                    <div class="filter-section">
                        <label for="type">Type</label>
                        <select id="type">
                            <option value="">-- Select Type --</option>
                            <option value="main course">main course</option>
                            <option value="side dish">side dish</option>
                            <option value="dessert">dessert</option>
                            <option value="appetizer">appetizer</option>
                            <option value="salad">salad</option>
                            <option value="bread">bread</option>
                            <option value="breakfast">breakfast</option>
                            <option value="soup">soup</option>
                            <option value="beverage">beverage</option>
                            <option value="sauce">sauce</option>
                            <option value="drink">drink</option>
                        </select>
                    </div>
                    <div class="filter-section">
                        <label style="display: inline-block;">Origin</label>
                        <button id="toggle-origine" style="display: inline-block;">↓</button>
                        <div class="checkbox-group" id="origine-options">
                            <label><input type="checkbox" value="african"> African</label>
                            <label><input type="checkbox" value="chinese"> Chinese</label>
                            <label><input type="checkbox" value="japanese"> Japanese</label>
                            <label><input type="checkbox" value="korean"> Korean</label>
                            <label><input type="checkbox" value="vietnamese"> Vietnamese</label>
                            <label><input type="checkbox" value="thai"> Thai</label>
                            <label><input type="checkbox" value="indian"> Indian</label>
                            <label><input type="checkbox" value="british"> British</label>
                            <label><input type="checkbox" value="irish"> Irish</label>
                            <label><input type="checkbox" value="french"> French</label>
                            <label><input type="checkbox" value="italian"> Italian</label>
                            <label><input type="checkbox" value="mexican"> Mexican</label>
                            <label><input type="checkbox" value="spanish"> Spanish</label>
                            <label><input type="checkbox" value="middle eastern"> Middle Eastern</label>
                            <label><input type="checkbox" value="jewish"> Jewish</label>
                            <label><input type="checkbox" value="american"> American</label>
                            <label><input type="checkbox" value="cajun"> Cajun</label>
                            <label><input type="checkbox" value="southern"> Southern</label>
                            <label><input type="checkbox" value="greek"> Greek</label>
                            <label><input type="checkbox" value="german"> German</label>
                            <label><input type="checkbox" value="nordic"> Nordic</label>
                            <label><input type="checkbox" value="eastern european"> Eastern European</label>
                            <label><input type="checkbox" value="caribbean"> Caribbean</label>
                            <label><input type="checkbox" value="latin american"> Latin American</label>
                        </div>
                    </div>
                    <div class="filter-section">
                        <label for="max-time">Max Time</label>
                        <select id="max-time">
                            <option value="">-- Select Max Time --</option>
                            <option value="30">30 minuts</option>
                            <option value="60">1 hour</option>
                            <option value="120">2 hours</option>
                        </select>
                    </div>
                    <div class="filter-section">
                        <label for="max-cal">Max Calories</label>
                        <select id="max-cal">
                            <option value="">-- Select Max Calories --</option>
                            <option value="100">200 kcal</option>
                            <option value="200">200 kcal</option>
                            <option value="500">500 kcal</option>
                            <option value="1000">1000 kcal</option>
                        </select>
                    </div>
                </div>
                <button id="search-recipe-button" class="search-recipe">Search Recipe</button>
            </div>
            <div class="recipes">
                <h1>RANDOM RECIPES</h1>
                <div class="error-message" id="errore-recipe">
                    <p>Unfortunately your search returned no results.</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-logo">TastyClick</div>
        </footer>
    </div>
    <h1 id="user-diet" style="display: none;">{{ diet|tojson|safe }}</h1>
    <h1 id="user-intolerances" style="display: none;">{{ intolerances|tojson|safe }}</h1> 

    <script>
        document.getElementById('toggle-origine').addEventListener('click', function() {
            const origineOptions = document.getElementById('origine-options');
            if (origineOptions.style.display === 'none' || origineOptions.style.display === '') {
                origineOptions.style.display = 'block';
                this.textContent = '↑';
            } else {
                origineOptions.style.display = 'none';
                this.textContent = '↓';
            }
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/idee_random.js"></script> 
</body>
</html>
{% endblock %}
