{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='idee_random.css')}}">
</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="sidebar">
                <h2>Cerca per nome</h2>
                <div class="search-bar">
                    <input type="text" placeholder="ricette">
                    <button>Cerca</button>
                </div>
                <h2>Filtri</h2>
                <div class="filters">
                    <div class="filter-section">
                        <label for="type">Tipo</label>
                        <select id="type">
                            <option value="">-- Seleziona Tipo --</option>
                            <option value="tipo1">Tipo 1</option>
                            <option value="tipo2">Tipo 2</option>
                            <option value="tipo3">Tipo 3</option>
                        </select>
                    </div>
                    <div class="filter-section">
                        <label for="origin">Origine</label>
                        <select id="origin">
                            <option value="">-- Seleziona Origine --</option>
                            <option value="origine1">Origine 1</option>
                            <option value="origine2">Origine 2</option>
                            <option value="origine3">Origine 3</option>
                        </select>
                    </div>
                    <div class="filter-section">
                        <label for="max-time">Max Time</label>
                        <select id="max-time">
                            <option value="">-- Seleziona Tempo Max --</option>
                            <option value="30">30 minuti</option>
                            <option value="60">1 ora</option>
                            <option value="120">2 ore</option>
                        </select>
                    </div>
                    <div class="filter-section">
                        <label for="max-cal">Max Cal</label>
                        <select id="max-cal">
                            <option value="">-- Seleziona Calorie Max --</option>
                            <option value="200">200 kcal</option>
                            <option value="500">500 kcal</option>
                            <option value="1000">1000 kcal</option>
                        </select>
                    </div>
                </div>
                <button class="search-recipe">Cerca Ricetta</button>
            </div>
            <div class="recipes">
                <h1>RICETTE RANDOM</h1>
            </div>
        </main>
        <footer>
            <div class="footer-logo">LOGO</div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/idee_random.js"></script>
</body>
</html>
{% endblock %}
