{% extends 'header.html' %}
{% block contenttop %}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">
        <main>
            <div class="sidebar">
                <h2>Cosa hai in frigo?</h2>
                <div class="search-bar">
                    <input type="text" id="ingredient-input" placeholder="ingredienti">
                    <button id="search-button">Cerca</button>
                </div>
                <div class="ingredient-list">
                </div>
                <button id="search-recipe-button" class="search-recipe">Cerca Ricetta</button>
            </div>

            <div class="no-recipes">
                <div class="message">
                    <p class="large-text">Cerca una ricetta per gli ingredienti del tuo frigo</p>
                    <p>oppure</p>
                    
                    <a href="/idee_rand"><button class="search-ideas">Cerca Idee</button></a>

                </div>
            </div>

            <div class="recipes">
                <div class="error-message" id="errore-recipe">
                    <p>Purtroppo la tua ricerca non ha prodotto risultati.</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-logo">TastyClick</div>
        </footer>
    </div>

    <h1 id="user-diet" style="display: none;">{{ diet|tojson|safe }}</h1>
    <h1 id="user-intolerances" style="display: none;">{{ intolerances|tojson|safe }}</h1> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
{% endblock %}
