{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your shopping list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lista_spesa.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="../static/lista_spesa.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="item-box">
                {% if lista==[] %}
                    <h2>Your SHOPPING LIST is EMPTY!</h2>
                {% else %}
                <h2>YOUR SHOPPING LIST:</h2>
                <div class="item-details">
                    <ul>
                        {% for el in lista %}
                            <li>
                                <p>- {{ el }}</p>
                                <button class="remove-item" data-ingredient="{{ el }}">X</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- <button id="download-btn" class="download"></button> -->
                    <button id="download-btn" class="download"><i class="fa fa-download"></i> Download PDF</button>
                {% endif %}
                </div>
                
            </div>
        </main>
    </div>
</body>
</html>
{% endblock %}
