{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="login-box">
                <h2>Login</h2>
                <form method="POST">
                    <div class="input-group">
                        <label for="username_input">Username o Email</label>
                        <input type="text" id="username_input" name="username_input" required>
                    </div>
                    <div class="input-group">
                        <label for="password_input">Password</label>
                        <input type="password" id="password_input" name="password_input" required>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <button type="submit" id="login-button">Sign in</button>
                </form>
                <div class="login-options">
                    <p>Or sign in with:</p>
                    <div class="social-login">
                        <img id="google-button" class="google-login" src="../static/images/google.png">                      
                        <img id="github-button" class="github-login" src="../static/images/git.png">
                    </div>
                    <p>Don't have an account yet? <a href="/registrazione">Sign up</a></p>
                    <p><a href="/recupera_psw">Forgot Password?</a></p>
                </div>
            </div>
        </main>
    </div>

    <script src="../static/login.js"></script>
</body>
</html>
{% endblock %}