{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recupera_psw.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="login-box">
                <h2>Password Recovery</h2>
                    
                {% if request.args.get('token_sended') %}
                    <form id="token-form" method="POST" action="{{ url_for('reset_password') }}">
                        <div class="input-group">
                            <label for="token">Token:</label>
                            <input type="text" id="token" name="token" required>
                        </div>
                        <div class="input-group">
                            <label for="new_password">New Password:</label>
                            <input type="password" id="new_password" name="new_password" required>
                        </div>
                        <div class="input-group">
                            <label for="confirm_new_password">Confirm Password:</label>
                            <input type="password" id="confirm_new_password" name="confirm_new_password" required>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="flashes">
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <button type="submit" id="save-token-password-button">Save Password</button>
                    </form>
                {% else %}
                    <form id="email-form" method="POST" action="{{ url_for('recupero_password_request') }}">
                        <div class="input-group">
                            <label for="email_input">Enter your email:</label>
                            <input type="email" id="email_input" name="email_input" required>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="flashes">
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <button type="submit" id="invia-token-button">Send token</button>
                    </form>
                {% endif %}
            </div>
        </main>
    </div>

</body>
</html>
{% endblock %}