{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione - Nome Sito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registrazione.css')}}">
</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">
 
        <main>
            <div class="registration-box">
                <h2>Registrazione</h2>
                <form method="POST">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Aggiorna Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="input-group">
                        <label for="birthdate">Data di nascita</label>
                        <input type="date" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="input-group">
                        <label for="password_conf">Conferma Password</label>
                        <input type="password" id="password_conf" name="password_conf" required>
                    </div>
                    
                    <div class="input-group">
                        <label for="diet">Diete particolari</label>
                        <div class="checkbox-group">
                            <label><input type="checkbox" name="diete" value="vegetariana"> Vegetariana</label><br>
                            <label><input type="checkbox" name="diete" value="vegana"> Vegana</label><br>
                            <label><input type="checkbox" name="diete" value="senza-glutine"> Senza glutine</label>
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <label for="allergies">Intolleranze / Allergie</label>
                        <div class="checkbox-group">
                            <label><input type="checkbox" name="intolleranze" value="lattosio"> Lattosio</label><br>
                            <label><input type="checkbox" name="intolleranze" value="glutine"> Glutine</label><br>
                            <label><input type="checkbox" name="intolleranze" value="frutta-secca"> Frutta secca</label>
                        </div>
                    </div>

                    <button type="submit">Registrati</button>
                </form>
                <div class="registration-options">
                    <p>Registrati con</p>
                    <div class="social-login">
                        <button class="google-login">G</button>
                        <button class="facebook-login">f</button>
                        <button class="twitter-login">😺</button>
                    </div>
                </div>
                <p>Hai già un account? <a href="/login">Accedi</a></p>

            </div>
        </main>
    </div>
</body>
</html>
{% endblock %}