{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registrazione.css')}}">
    <script src="{{ url_for('static', filename='registrazione.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">
 
        <main>
            <div class="registration-box">
                <h2>Sign Up</h2>
                <form method="POST">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="birthdate">Birth Date</label>
                        <input type="date" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                        <button type="button" id="suggest-password-btn">Suggest a secure password</button> 
                        <p id="password-strength" class="password-strength"></p>

                    </div>
                    <div class="input-group">
                        <label for="password_conf">Confirm Password</label>
                        <input type="password" id="password_conf" name="password_conf" required>
                    </div>
                    
                    <div class="input-2fa">
                        <label for="attiva-2fa">Enable two-factor authentication (2FA):</label>
                        <input type="checkbox" id="attiva-2fa" name="attiva-2fa">
                    </div>  
                    
                    <div class="input-group">
                        <label for="diet">Special diets</label>
                        <div class="checkbox-group">
                            <label>
                                <input type="radio" id="diet-none" name="diet" value="" {% if not diete %} checked {% endif %}> None
                            </label>
                            <label>
                                <input type="radio" id="diet-vegetarian" name="diet" value="vegetarian" {% if 'vegetarian' in diete %} checked {% endif %}> Vegetarian
                            </label> 
                            <label>
                                <input type="radio" id="diet-vegan" name="diet" value="vegan" {% if 'vegan' in diete %} checked {% endif %}> Vegan
                            </label>
                            <label>
                                <input type="radio" id="diet-pescetarian" name="diet" value="pescetarian" {% if 'pescetarian' in diete %} checked {% endif %}> Pescetarian
                            </label>
                            <label>
                                <input type="radio" id="diet-lacto-vegetarian" name="diet" value="lacto vegetarian" {% if 'lacto vegetarian' in diete %} checked {% endif %}> Lacto Vegetarian
                            </label>
                            <label>
                                <input type="radio" id="diet-ovo-vegetarian" name="diet" value="ovo vegetarian" {% if 'ovo vegetarian' in diete %} checked {% endif %}> Ovo Vegetarian
                            </label>
                            <label>
                                <input type="radio" id="diet-paleo" name="diet" value="paleo" {% if 'paleo' in diete %} checked {% endif %}> Paleo
                            </label>
                            <label>
                                <input type="radio" id="diet-primal" name="diet" value="primal" {% if 'primal' in diete %} checked {% endif %}> Primal
                            </label>              
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <label for="allergies">Intolerances / Allergies</label>
                        <div class="checkbox-group">
                            <label>
                                <input type="checkbox" id="allergy-dairy" name="allergies" value="dairy" {% if 'dairy' in intolleranze %} checked {% endif %}> Dairy
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-egg" name="allergies" value="egg" {% if 'egg' in intolleranze %} checked {% endif %}> Egg
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-gluten" name="allergies" value="gluten" {% if 'gluten' in intolleranze %} checked {% endif %}> Gluten
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-peanut" name="allergies" value="peanut" {% if 'peanut' in intolleranze %} checked {% endif %}> Peanut
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-sesame" name="allergies" value="sesame" {% if 'sesame' in intolleranze %} checked {% endif %}> Sesame
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-seafood" name="allergies" value="seafood" {% if 'seafood' in intolleranze %} checked {% endif %}> Seafood
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-shellfish" name="allergies" value="shellfish" {% if 'shellfish' in intolleranze %} checked {% endif %}> Shellfish
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-soy" name="allergies" value="soy" {% if 'soy' in intolleranze %} checked {% endif %}> Soy
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-sulfite" name="allergies" value="sulfite" {% if 'sulfite' in intolleranze %} checked {% endif %}> Sulfite
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-tree-nut" name="allergies" value="tree nut" {% if 'tree nut' in intolleranze %} checked {% endif %}> Tree Nut
                            </label>
                            <label>
                                <input type="checkbox" id="allergy-wheat" name="allergies" value="wheat" {% if 'wheat' in intolleranze %} checked {% endif %}> Wheat
                            </label>                                
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li id="errmess" class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <button id="signup" type="submit">Sign Up</button>
                </form>
                <div class="registration-options">
                    <p>Or sign in with</p>
                    <div class="social-login">
                        <img id="google-button" class="google-login" src="../static/images/google.png">                      
                        <img id="github-button" class="github-login" src="../static/images/git.png">
                    </div>
                </div>
                <p>Already have an account? <a href="/login">Sign Up</a></p>

            </div>
        </main>
    </div>
    <script src="../static/login.js"></script>

</body>
</html>
{% endblock %}