{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Ricetta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ricetta.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div class="timer-container">
                <h2>Timer</h2>
                <div id="timer-screen">
                    <span id="minutes">00</span>:<span id="seconds">00</span>
                </div>
                <div class="timer-buttons">
                    <button id="play-button">Play</button>
                    <button id="stop-button">Stop</button>
                    <button id="reset-button">Reset</button>
                </div>
            </div>

            <div class="recipe-details">
                <!-- <h1>Nome Ricetta: Lasagna alla Bolognese</h1>
                <div class="recipe-info">
                    <span>Tempo: 1 ora e 30 minuti</span>
                    <span>Tipo: Tradizionale</span>
                    <span>Calorie: 800 kcal</span>
                </div>
                <div class="recipe-image">
                    <img src="https://via.placeholder.com/800x400" alt="Immagine della Ricetta">
                </div>
                <div class="recipe-description">
                    <p>La lasagna alla bolognese è un piatto tipico della cucina italiana, particolarmente rinomato nella regione Emilia-Romagna. Questo piatto consiste in strati di pasta all'uovo, ragù di carne, besciamella e parmigiano, il tutto cotto al forno fino a ottenere una deliziosa gratinatura. È un piatto ricco e saporito, perfetto per i pranzi domenicali in famiglia o per occasioni speciali.</p>
                    <p>Il segreto per una lasagna perfetta risiede nella preparazione del ragù, che deve cuocere lentamente per diverse ore, e nella besciamella, che deve essere liscia e cremosa. La combinazione di questi elementi, insieme alla pasta all'uovo, crea un piatto indimenticabile che rappresenta al meglio la tradizione culinaria italiana.</p>
                </div>
                <div class="recipe-instructions">
                    <h2>Istruzioni:</h2>
                    <div class="ingredients">
                        <p><strong>Ingredienti:</strong></p>
                        <ul class="ingredientsUl">
                            <li class="possessed">
                                Pasta all'uovo per lasagna
                                <span class="checkmark">✔</span> 
                            </li>
                            <li class="to-buy">Ragù alla bolognese</li>
                            <li class="possessed">
                                Besciamella
                                <span class="checkmark">✔</span> 
                            </li>
                            <li class="to-buy">Parmigiano Reggiano grattugiato</li>
                        </ul>
                    </div>
                    <div class="steps">
                        <ul>
                            <li>Step 1: Preparare il ragù alla bolognese cuocendo carne macinata, cipolla, carota e sedano in una pentola con olio d'oliva. Aggiungere passata di pomodoro, vino rosso e cuocere a fuoco lento per almeno 2 ore.</li>
                            <li>Step 2: Preparare la besciamella sciogliendo burro in una casseruola, aggiungere farina e mescolare fino a ottenere un roux. Aggiungere latte caldo poco alla volta, mescolando continuamente fino a ottenere una salsa liscia e densa. Condire con sale, pepe e noce moscata.</li>
                            <li>Step 3: Cuocere la pasta all'uovo per lasagna in abbondante acqua salata per qualche minuto, quindi scolarla e stenderla su un canovaccio per farla asciugare.</li>
                            <li>Step 4: Preriscaldare il forno a 180°C. Iniziare a comporre la lasagna in una teglia, alternando strati di pasta, ragù, besciamella e parmigiano. Ripetere fino a esaurire gli ingredienti, terminando con uno strato di besciamella e una generosa spolverata di parmigiano.</li>
                            <li>Step 5: Coprire la teglia con un foglio di alluminio e cuocere in forno per 30 minuti. Rimuovere il foglio di alluminio e cuocere per altri 10-15 minuti, o fino a quando la superficie sarà dorata e croccante.</li>
                            <li>Step 6: Lasciare riposare la lasagna per qualche minuto prima di tagliarla e servirla. Questo permetterà ai sapori di amalgamarsi e renderà più facile il taglio.</li>
                            <li>Step 7: Servire la lasagna calda, accompagnata da un'insalata verde o da un bicchiere di vino rosso.</li>
                        </ul>
                    </div>
                </div> -->
            </div>

            <div class="commenti">
                <h2>Commenti</h2>
                <div class="comment-list">
                </div>
                <div class="comment-form">
                </div>
            </div>

        </main>
        <footer>
            <div class="footer-logo">LOGO</div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/ricetta.js"></script>
</body>
</html>
{% endblock %}
