{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Ricetta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ricetta.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">

</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">

        <main>
            <div id="flash-messages">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul>
                            {% for category, message in messages %}
                            <li class="flash-message {{ category }}" id="mess">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="timer-container">
                <h2>Timer</h2>
                <div id="timer-screen">
                    <span id="minutes">00</span>:<span id="seconds">00</span>
                </div>
                <div class="timer-buttons">
                    <button id="play-button">Play</button>
                    <button id="stop-button">Stop</button>
                    <button id="reset-button">Reset</button>
                </div>
            </div>

            <div class="recipe-details">
            </div>

            <div class="vini">
                <!--<h2>Recommended Wines</h2>-->
                <div class="titlewine"></div>
                <ul class="wines-list"></ul>
            </div>

            <div class="commenti">
                <div class="comment-list"></div>
                <div class="comment-form"></div>
            </div>

        </main>
        <footer>
            <div class="footer-logo">TastyClick</div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/ricetta.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('#flash-messages .flash-message');
            flashMessages.forEach(message => {
                setTimeout(() => {
                    message.classList.add('hide');
                    setTimeout(() => {
                        message.remove();
                    }, 1000); 
                }, 4000);
            });
        });
    </script>
</body>
</html>

{% endblock %}