{% extends 'header.html' %}
{% block contenttop %}


<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Sblocco Utenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sban.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">
</head>
<body>
    {% endblock %}
    {% block contentdown %}
    <div class="container">
        <h1>Unlock Request Management</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div id="requests-container">
            <p>Loading requests...</p>
        </div>
        <form action="{{ url_for('sban') }}" method="POST">
            <label for="email">Enter the email of the user to unblock:</label>
            <input type="email" id="email" name="email" maxlength="50" placeholder="Email" required>
            <button type="submit">Unlock User</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='sban.js') }}"></script>
</body>
</html>
{% endblock %}
